html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans CJK JP", -apple-system, "Meiryo", sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
